<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">Avatar</ion-title>


    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/blr1.jpg" />
        <!-- <ion-img src="/assets/blr1.jpg"></ion-img> esta forma es para cargar por carga perezosa -->
      </ion-avatar>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip color="primary" mode="ios" outline="true" *ngFor="let item of [1,1,1,1,1,1,1]">
    <ion-avatar>
      <img src="/assets/blr1.jpg" />
    </ion-avatar>
    <ion-label>Name</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let dup of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-avatar slot="start">
        <img src="/assets/blr1.jpg" />
      </ion-avatar>
      <ion-label>Blacklight Retribution</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
